php_flag display_errors on

RewriteEngine On    # Turn on the rewriting engine
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
# $1 mean first value after / if we have tasks/4/4 we use $1 $2
RewriteRule    ^tasks/([0-9]+)$          controller/task.php?taskid=$1    [L]    # Handle task id requests
RewriteRule    ^tasks/complete$          controller/task.php?completed=Y    [L]    # Handle completed requests
RewriteRule    ^tasks/incomplete$          controller/task.php?completed=N    [L]    # Handle incompleted requests
RewriteRule    ^tasks/page/([0-9]+)$          controller/task.php?page=$1    [L]    # Handle incompleted requests
RewriteRule    ^tasks$         controller/task.php    [L]    # Handle all tasks requests